@model TeamsViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";

    // No body for this layout
    IgnoreBody();
}

@section Scripts
{
    <script>
        // Change amount of teams
        $("#teams").change(function () {
            $("#teamCount").val($(this).val());

            for (let i = 1; i <= 3; i++) {
                if (i > $(this).val()) {
                    $(`.team${i}`).hide();
                } else {
                    $(`.team${i}`).show();
                }
            }

            CheckValid();
        });

        // Change amount of players
        $("#players").change(function () {
            $("#playerCount").val($(this).val());

            for (let i = 1; i <= 3; i++) {
                if (i > $(this).val()) {
                    $(`#player${i}`).hide();
                } else {
                    $(`#player${i}`).show();
                }
            }

            CheckValid();
        });
    </script>
}

<form asp-controller="@ViewData["Controller"]" asp-action="Index" method="post" autocomplete="off">
    <!--Hidden values for model-->
    <input asp-for="TeamCount" id="teamCount" type="number" value="2" style="display: none" />
    <input asp-for="PlayerCount" id="playerCount" type="number" value="2" style="display: none" />

    <!--Adaptive grid of names-->
    <!--Team 3 & Player 3 are disabled by default-->
    <div class="container">
        <div id="teamNames" class="row mb-1">
            <div class="col team1">Team 1</div>
            <div class="col team2">Team 2</div>
            <div class="col team3" style="display: none">Team 3</div>
        </div>
        <div id="player1" class="row mb-1">
            <div class="col team1">
                <input asp-for="Names[0][0]" type="text" class="form-control" placeholder="Player 1" />
            </div>
            <div class="col team2">
                <input asp-for="Names[1][0]" type="text" class="form-control" placeholder="Player 1" />
            </div>
            <div class="col team3" style="display: none">
                <input asp-for="Names[2][0]" type="text" class="form-control" placeholder="Player 1" />
            </div>
        </div>
        <div id="player2" class="row mb-1">
            <div class="col team1">
                <input asp-for="Names[0][1]" type="text" class="form-control" placeholder="Player 2" />
            </div>
            <div class="col team2">
                <input asp-for="Names[1][1]" type="text" class="form-control" placeholder="Player 2" />
            </div>
            <div class="col team3" style="display: none">
                <input asp-for="Names[2][1]" type="text" class="form-control" placeholder="Player 2" />
            </div>
        </div>
        <div id="player3" class="row mb-1" style="display: none">
            <div class="col team1">
                <input asp-for="Names[0][2]" type="text" class="form-control" placeholder="Player 3" />
            </div>
            <div class="col team2">
                <input asp-for="Names[1][2]" type="text" class="form-control" placeholder="Player 3" />
            </div>
            <div class="col team3" style="display: none">
                <input asp-for="Names[2][2]" type="text" class="form-control" placeholder="Player 3" />
            </div>
        </div>
    </div>

    <br />

    <!--Options for size of teams & players/team-->
    <div class="container">
        <div class="row justify-content-between mb-1">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Teams</span>
                    </div>
                    <select id="teams" class="custom-select">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text">Players Per Team</span>
                    </div>
                    <select id="players" class="custom-select">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <input type="submit" id="submit" class="form-control btn btn-primary" value="Create Game" disabled />
            </div>
        </div>
    </div>
</form>