@model UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change Password";
}

<form asp-controller="User" asp-action="ChangePassword" method="post" autocomplete="off">
    <div class="form-group">
        <label for="username">Old Password</label>
        <input asp-for="OldPassword" type="password" id="oldpassword" class="form-control" autofocus />
    </div>
    <div class="form-group">
        <label for="password">New Password</label>
        <input asp-for="Password" type="password" id="password" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Confirm New Password</label>
        <input asp-for="Confirm" type="password" id="confirm" class="form-control" />
        <span id="warning" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input id="submit" type="submit" class="btn btn-primary" value="Change Password" disabled />
    </div>
</form>
