@model UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

@section Scripts
{
    <script>
        var filled;

        // Check all fields are filled
        $('form input').on('keyup paste', function () {
            filled = true;

            //Iterate through all inputs
            $('form input').each(function () {
                if ($(this).val() == '') {
                    // An input isn't filled
                    filled = false;
                }
            })

            // Allow user to proceed if each field is filled
            $('#submit').prop('disabled', !filled);
        });
    </script>
}

<form asp-controller="User" asp-action="Login" method="post" autocomplete="off">
    <div class="form-group">
        <label for="username">Username</label>
        <input asp-for="Username" type="text" id="username" class="form-control" autofocus />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input asp-for="Password" type="password" id="password" class="form-control" />
        <small class="form-text">
            Need a new account? Register <a asp-controller="User" asp-action="Register" tabindex="-1">here</a>.
        </small>
    </div>
    <div class="form-group">
        <input id="submit" type="submit" class="btn btn-primary" value="Login" disabled />
    </div>
</form>
