@model GameViewModel
@{
    ViewData["Title"] = "500";
}

@section Scripts
{
    <script>

    </script>
}

<!--Table for displaying all hands played-->
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" class="">#</th>
            @for (int t = 0; t < Model.Teams.Length; t++)
            {
                <th scope="col">@Model.Teams[t].Name</th>
            }
        </tr>
    </thead>
</table>

<br />

<!--Input for new hand per team-->
@for (int t = 0; t < Model.Teams.Length; t++)
{
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">@Model.Teams[t].Name</span>
            <button class="btn btn-outline-secondary" type="button">Bidder</button>
        </div>
        <select id="defendingTricks@(t)" class="custom-select">
            <option selected>Tricks Scored...</option>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
        <select id="biddingTricks@(t)" class="custom-select" style="display: none">
            <option selected>Tricks Bid...</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>
        <select id="suit@(t)" class="custom-select" style="display: none">
            <option selected>Suit...</option>
            <option>Spades</option>
            <option>Clubs</option>
            <option>Diamonds</option>
            <option>Hearts</option>
            <option>No Trumps</option>
        </select>
    </div>
}
