@{
    ViewData["Title"] = "500";
}

@section Scripts
{
    <script>
        // Change amount of teams
        $("#teams").change(function () {
            for (let i = 1; i <= 3; i++) {
                if (i > $(this).val()) {
                    $(`.team${i}`).hide();
                } else {
                    $(`.team${i}`).show();
                }
            }
        });

        // Change amount of players
        $("#players").change(function () {
            for (let i = 1; i <= 3; i++) {
                if (i > $(this).val()) {
                    $(`#player${i}`).hide();
                } else {
                    $(`#player${i}`).show();
                }
            }
        });
    </script>
}

<form>
    <!--Adaptive grid of names-->
    <div class="container">
        <div id="teamNames" class="row mb-1">
            <div class="col team1">Team 1</div>
            <div class="col team2">Team 2</div>
            <div class="col team3" style="display: none">Team 3</div>
        </div>
        <div id="player1" class="row mb-1">
            <div class="col team1">
                <input type="text" class="form-control" placeholder="Player 1" />
            </div>
            <div class="col team2">
                <input type="text" class="form-control" placeholder="Player 1" />
            </div>
            <div class="col team3" style="display: none">
                <input type="text" class="form-control" placeholder="Player 1" />
            </div>
        </div>
        <div id="player2" class="row mb-1">
            <div class="col team1">
                <input type="text" class="form-control" placeholder="Player 2" />
            </div>
            <div class="col team2">
                <input type="text" class="form-control" placeholder="Player 2" />
            </div>
            <div class="col team3" style="display: none">
                <input type="text" class="form-control" placeholder="Player 2" />
            </div>
        </div>
        <div id="player3" class="row mb-1" style="display: none">
            <div class="col team1">
                <input type="text" class="form-control" placeholder="Player 3" />
            </div>
            <div class="col team2">
                <input type="text" class="form-control" placeholder="Player 3" />
            </div>
            <div class="col team3" style="display: none">
                <input type="text" class="form-control" placeholder="Player 3" />
            </div>
        </div>
    </div>

    <br />

    <!--Options for size of teams & players/team-->
    <div class="container">
        <div class="row justify-content-between mb-1">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Teams</span>
                    </div>
                    <select id="teams" class="custom-select">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                    <div class="input-group-prepend">
                        <span class="input-group-text">Players Per Team</span>
                    </div>
                    <select id="players" class="custom-select">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <input type="submit" class="form-control btn btn-primary" value="Create Game" />
            </div>
        </div>
    </div>
</form>