@{
    ViewData["Title"] = "500";
}

@section Scripts
{
    <script>

    </script>
}

<form>
    <div class="container">
        <div class="row my-1">
            <div class="col">Team 1</div>
            <div class="col">Team 2</div>
        </div>
        <div class="row my-1">
            <div class="col">
                <input type="text" class="form-control" placeholder="Player 1" />
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Player 1" />
            </div>
        </div>
        <div class="row my-1">
            <div class="col">
                <input type="text" class="form-control" placeholder="Player 2" />
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Player 2" />
            </div>
        </div>
    </div>
</form>